@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p style="font-weight:bold"><a href="https://localhost:7114/CalculateTriangleSquare">Калькулятор площади треугольника</a>.</p>
</div>
